Abbreviations

The following questions are about abbreviations in the document:

a) FYI - We have added expansions for abbreviations upon first use per
Section 3.6 of RFC 7322 ("RFC Style Guide"). Please review each expansion
in the document carefully to ensure correctness.

b) We note this document switches between using the expanded ("user agents")
and abbreviated ("UAs") forms of this term. For consistency, may we update all
instances to use the expanded form "user agents"?

Resolved in commit [dcb32af](https://github.com/rfc-editor-drafts/FinalReview-rfc10025/commit/dcb32af1124af56974b3b4b464b291e1b8b0eea0).